.Btn__paw{
    border: none;
    color: Green;
    font-size: 5em;
    cursor: pointer;
    margin: 20px;
}

.Btn__paw:hover {
  color: DarkGreen;
  transform: scale(1.25);
  transition: transform .3s;
}

.Btn__paw:focus {
  outline:0;
}

.Btn__poo{
    border: none;
    color: red;
    font-size: 5em;
    cursor: pointer;
    margin: 20px;
    text-shadow: 1px 1px 1px black;
}

.Btn__poo:hover {
  color: DarkRed;
  transform: scale(1.25);
  transition: transform .3s;
}

.Btn__poo:focus {
  outline:0;
}

.Btn__envelope{
    border: none;
    color: Blue;
    font-size: 5em;
    cursor: pointer;
    margin: 20px;
}

.Btn__envelope:hover {
  color: DarkBlue;
  transform: scale(1.25);
  transition: transform .3s;
}

.Btn__envelope:focus {
  outline:0;
}
