@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

h1.Title {
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 1px white;
  color: red;
  font-size: 5em;
  text-align: center;
  margin: 0;
  padding: 15px
}
